[defaults]
remote_user = ec2-user/any name                      # dont use double quotes
inventory = /root/ansible/ansiblehosts
private_key_file = /root/ansible/mykey.pem
host_key_checking = False                            # f or F
interprter_python = auto_silent     
deprecation_warnings = False                         # f or F






